<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Access to <%= repoName %></title>
</head>
<body>
  <h1> Access the <%= repoName %> repo </h1>
  <form method="post">
    <input type="test" name="username" placeholder="Github username">
    <input type="submit" value="Get Access">
  </form>
</body>
</html>
